{% extends 'base.html' %}

{% block detail %}
    <div class="register-flex">
        <div class="register-div">
            <label> Fakultet Yaratish:
                <a href="{% url 'main:faculty-create' %}">
                    <button class="button-style button-style_register">
                        Fakultet Yaratish
                    </button>
                </a>
            </label>
        </div>
        <div class="register-div">
            <label> Kafedra Yaratish:
                <a href="{% url 'main:department-create' %}">
                    <button class="button-style button-style_register">
                        Kafedra Yaratish
                    </button>
                </a>
            </label>
        </div>
        <div class="register-div">
            <label> Yo'nalish Yaratish:
                <a href="{% url 'main:direction-create' %}">
                    <button class="button-style button-style_register">
                        Yo'nalish yaratish
                    </button>
                </a>
            </label>
        </div>
        <div class="register-div">
            <label> Guruh Yaratish:
                <a href="{% url 'main:group-create' %}">
                    <button class="button-style button-style_register">
                        Guruh Yaratish
                    </button>
                </a>
            </label>
        </div>
        <div class="register-div">
            <label> Amaliyot joyini yaratish:
                <a href="{% url 'main:practice-create' %}">
                    <button class="button-style button-style_register">
                        Amaliyot Joyini Yaratish
                    </button>
                </a>
            </label>
        </div>
    </div>
{% endblock %}