{% extends 'base.html' %}

{% block detail %}
    <form class="form" method="POST">
        {% csrf_token %}
        <div class="form__center">
            <h1 class="h1-style">Kafedra Yaratish</h1>
            <div class="input-div">
               <label class="label-style">Kafedra nomi:
                <input class="input-style" type="text" required>
            </label>
            <label class="label-style">Qisqartmasi
                <input class="input-style" type="text">
            </label>
            <label>Fakultet:
                <select class="input-style" id="faculty" name="faculty" required>
                    {% for faculty in faculties %}
                        <option class="option" value="{{ faculty.id }}">{{ faculty.faculty_name }}</option>
                    {% endfor %}
                </select>
            </label>
            </div>


            <div class="button-div_register">
                <a href="{% url 'main:admin' %}">
                    <button class="button-style" type="button">
                        Orqaga
                    </button>
                </a>
                <button class="button-style" type="submit">
                    Yaratish
                </button>
            </div>
        </div>
    </form>
{% endblock %}
