{% extends 'base.html' %}

{% load static %}

{% block detail %}

    <form class="form" method="post">
        {% csrf_token %}
        <div class="form__center">
            <h1 class="h1-style">Yo'nalish yaratish</h1>
            <label class="label-style">Yo'nalish nomi:
                <input class="input-style" type="text" name="direction_name" required>
            </label>
            <label class="label-style">Qisqartmasi
                <input class="input-style" type="text" name="abbreviation">
            </label>

            <label class="label-style">Kafedra:
                <select class="input-style" id="department" name="department" required>
                    {% for department in departments %}
                        <option class="option" value="{{ department.id }}">{{ department.dep_name }}</option>
                    {% endfor %}
                </select>
            </label>

            <div class="button-div_register">
                <a href="{% url 'main:admin' %}">
                    <button class="button-style" type="button">
                        Orqaga
                    </button>
                </a>
                <button class="button-style" type="submit">
                    Yaratish
                </button>
            </div>
        </div>
    </form>

{% endblock %}