{% extends 'base.html' %}

{% load static %}

{% block detail %}
    <div class="content">
        {% if limit_reached %}
            <div id="limit-reached-alert" class="alert alert-danger" role="alert">
                <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
                Amaliyot joylari uchun foydalanuvchi chegarasiga yetdi. Siz buni tanlay olmaysiz
            </div>
        {% endif %}


        <form class="form" id="user-registration-form" method="POST" action="">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form__center register-form">
                <h1 class="h1-style h1-style_grid">Registratsiya</h1>
                <div class="form-group">
                    <label for="id_first_name">Ism:
                        <input class="input-style" type="text" name="first_name">
                    </label>
                </div>
                <div class="form-group">
                    <label for="id_last_name">Familiya:
                        <input class="input-style" type="text" name="last_name">
                    </label>
                </div>
                <div class="form-group">
                    <label for="id_faculty">Fakultet:</label>
                    <select class="input-style" name="faculty" id="id_faculty">
                        <option value="">Fakultet tanlang</option>
                        {% for faculty in faculties %}
                            <option value="{{ faculty.id }}">{{ faculty.faculty_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="id_department">Kafedra:</label>
                    <select class="input-style" name="department" id="id_department"></select>
                </div>
                <div class="form-group">
                    <label for="id_direction">Yo'nalish:</label>
                    <select class="input-style" name="direction" id="id_direction"></select>
                </div>
                <div class="form-group">
                    <label for="id_practice_place">Amaliyot joyi:</label>
                    <select class="input-style" name="practice_place" id="id_practice_place"></select>
                </div>
                <div class="form-group">
                    <label for="id_group">Guruh:</label>
                    <select class="input-style" name="group" id="id_group"></select>
                </div>
                <div class="button-div">
                    <a href="#">
                        <button class="button-style" type="submit">
                            Orqaga
                        </button>
                    </a>
                    <button class="button-style button-style_grid" type="submit">
                        Registratsiya
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
{% block extra_js %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        setTimeout(function () {
            document.getElementById('limit-reached-alert').style.display = 'none';
        }, 15000);
    </script>
    <script>
        $(document).ready(function () {
            console.log('jQuery version:', $.fn.jquery);
            $('#id_faculty').change(function () {
                var facultyId = $(this).val();
                console.log('Faculty_id:', facultyId);
                $.get('/uz/main/get_departments/', {faculty_id: facultyId}, function (data) {
                    console.log('Received departments:', data);
                    $('#id_department').empty();
                    $('#id_department').append($('<option>').text('Select Department').attr('value', ''));
                    $.each(data.departments, function (index, department) {
                        $('#id_department').append($('<option>').text(department.name).attr('value', department.id));
                    });
                });
            });

            $('#id_department').change(function () {
                var departmentId = $(this).val();
                $.get('/uz/main/get_directions/', {department_id: departmentId}, function (data) {
                    $('#id_direction').empty();
                    $('#id_direction').append($('<option>').text('Select Direction').attr('value', ''));
                    $.each(data.directions, function (index, direction) {
                        $('#id_direction').append($('<option>').text(direction.name).attr('value', direction.id));
                    });
                });
            });

            $('#id_direction').change(function () {
                var directionId = $(this).val();
                $.get('/uz/main/get_practice_places/', {direction_id: directionId}, function (data) {
                    $('#id_practice_place').empty();
                    $('#id_practice_place').append($('<option>').text('Select Practice Place').attr('value', ''));
                    $.each(data.practice_places, function (index, place) {
                        $('#id_practice_place').append($('<option>').text(place.name).attr('value', place.id));
                    });
                });

                $.get('/uz/main/get_groups/', {direction_id: directionId}, function (data) {
                    $('#id_group').empty();
                    $('#id_group').append($('<option>').text('Select Group').attr('value', ''));
                    $.each(data.groups, function (index, group) {
                        $('#id_group').append($('<option>').text(group.name).attr('value', group.id));
                    });
                });
            });
        });
    </script>
{% endblock %}
